<a href="https://colab.research.google.com/github/Chan3377/HR-Analytics-Employee-Attrition-Performance/blob/main/HR_Analytics_Employee_Attrition_%26_Performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HR Analytics Employee Attrition & Performance**

This analysis is to uncover the factors that lead to employee attrition for company.

## **Import Libraries**

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import joblib

##**Load dataset**

In [9]:
file_path = "/content/drive/MyDrive/dataset/Employee.csv"
data = pd.read_csv(file_path)
df = data.copy()
# To show all columns
pd.options.display.max_columns = 50
df.shape

(1470, 23)

In [10]:
performance_file_path = "/content/drive/MyDrive/dataset/PerformanceRating.csv"
data_performance = pd.read_csv(performance_file_path)
df_pr = data_performance.copy()
# To show all columns
pd.options.display.max_columns = 50
df_pr.shape

(6709, 11)

In [11]:
# prompt: join both dataset by EmployeeID for only available EmployeeID data on df dataset

df_merged = pd.merge(df, df_pr, on='EmployeeID', how='inner')
df_merged.shape

(6709, 33)

In [16]:
df_merged.groupby('EmployeeID').head(100)

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,Education,EducationField,JobRole,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,5,Marketing,Sales Executive,Divorced,102059,1,No,2012-01-03,No,10,4,9,7,PR1295,10/30/2016,3,3,2,3,0,4,3,3
1,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,5,Marketing,Sales Executive,Divorced,102059,1,No,2012-01-03,No,10,4,9,7,PR1908,10/30/2017,4,4,5,3,1,2,3,2
2,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,5,Marketing,Sales Executive,Divorced,102059,1,No,2012-01-03,No,10,4,9,7,PR2617,10/30/2018,5,5,4,3,0,4,5,5
3,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,5,Marketing,Sales Executive,Divorced,102059,1,No,2012-01-03,No,10,4,9,7,PR3436,10/30/2019,1,3,2,3,1,3,5,4
4,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,5,Marketing,Sales Executive,Divorced,102059,1,No,2012-01-03,No,10,4,9,7,PR411,10/31/2014,3,4,2,1,0,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6704,06E8-4FD4,Emilee,Wenham,Female,20,Some Travel,Sales,32,CA,Black or African American,2,Marketing,Sales Representative,Married,38532,3,Yes,2022-12-03,Yes,0,0,0,0,PR355,6/5/2014,5,2,3,1,0,3,3,2
6705,06E8-4FD4,Emilee,Wenham,Female,20,Some Travel,Sales,32,CA,Black or African American,2,Marketing,Sales Representative,Married,38532,3,Yes,2022-12-03,Yes,0,0,0,0,PR4032,6/3/2020,5,3,2,3,1,4,3,3
6706,06E8-4FD4,Emilee,Wenham,Female,20,Some Travel,Sales,32,CA,Black or African American,2,Marketing,Sales Representative,Married,38532,3,Yes,2022-12-03,Yes,0,0,0,0,PR5034,6/3/2021,3,3,3,2,3,3,5,5
6707,06E8-4FD4,Emilee,Wenham,Female,20,Some Travel,Sales,32,CA,Black or African American,2,Marketing,Sales Representative,Married,38532,3,Yes,2022-12-03,Yes,0,0,0,0,PR6120,6/3/2022,5,3,5,2,1,3,3,3
6708,06E8-4FD4,Emilee,Wenham,Female,20,Some Travel,Sales,32,CA,Black or African American,2,Marketing,Sales Representative,Married,38532,3,Yes,2022-12-03,Yes,0,0,0,0,PR691,6/5/2015,4,3,5,3,0,2,5,5

In [17]:
df_merged.groupby('EmployeeID')['TrainingOpportunitiesWithinYear'].head()

0       3
1       3
2       3
3       3
4       1
       ..
6700    1
6701    1
6702    1
6703    3
6704    1
Name: TrainingOpportunitiesWithinYear, Length: 4896, dtype: int64

In [14]:
# Check : show the FirstName and LastName where EmployeeID equal '005C-E0FB'

df_merged[df_merged['EmployeeID'] == '005C-E0FB']

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,Education,EducationField,JobRole,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
4817,005C-E0FB,Fin,O'Halleghane,Non-Binary,24,Frequent Traveller,Sales,17,CA,White,4,Marketing,Sales Executive,Married,56155,1,No,2017-08-26,No,5,2,2,0,PR4067,6/17/2020,3,3,2,1,2,2,4,3
4818,005C-E0FB,Fin,O'Halleghane,Non-Binary,24,Frequent Traveller,Sales,17,CA,White,4,Marketing,Sales Executive,Married,56155,1,No,2017-08-26,No,5,2,2,0,PR5070,6/17/2021,4,4,5,1,1,5,3,3
4819,005C-E0FB,Fin,O'Halleghane,Non-Binary,24,Frequent Traveller,Sales,17,CA,White,4,Marketing,Sales Executive,Married,56155,1,No,2017-08-26,No,5,2,2,0,PR6165,6/17/2022,3,4,5,3,0,4,4,4